{%if product.tags contains "out_of_stock_form" %}
{%assign action = "#"%}
{%assign value = ""%}
   {%if product.tags contains "harmony_list"%}
    {%assign action = "https://t.lt02.net/q/D_0gahHdpuOvcIlVkRmcEw3O-gco5IcagrU4CbRf-qjBw8JKOKNQ-53VF"%}
    {%assign value = "08MBhiY87AD1aJlFc7XVWFjZoC2XOqqQBXi7Pt3csXlOtc5q6Dirrg2thTc7WaR_twNr-Ah0a3Gnpliw2nSvmU87sYPlJ2LtVsv_-UygbsHiJ2DGAzmxgnbjPOrSiDso8hBeNSAK_eyWdL_oWSZ7vVI57buCbOirg0IgV10YLM-VQ9Q_roRfu8F0qzQAxpIx"%}
  {%endif%}
 {%if product.tags contains "green_list"%}
    {%assign action = "https://t.lt02.net/q/D_0gahHdpuOvcIlVkRmcEw3O-gco5IcagrU4CbRf-qjBw8JKOKNQ-53VF"%}
    {%assign value = "08MBhiY87AD1aJlFc7XVWFjZoC2XOqqQBXi7Pt3csXlOtc5q6Dirrg2thTc7WaR_twNr-Ah0a3Gnpliw2nSvmU87sYPlJ2LtVsv_-UygbsHiJ2DGAzmxgnbjPOrSiDso8hBeNSAK_eyWdL_oWSZ7vVI57buCbOirg0IgV10YLM-VQ9Q_roRfu8F0qzQAxpIx"%}
  {%endif%}

  {%if product.tags contains "chocolate_bar_list"%}
    {%assign action = "https://t.lt02.net/q/3qS_PtTquQeSMtuY3OGKQMs48nGN6eF2wY5yKy0V-tmsymvK9yz4EBKKG"%}
    {%assign value = "74GsZxDLnP1KV4uRp9xzEUyugmNAlaO-LCU3p8IRqILloHbfEsvdhwRB6Ol7FVgk_84g6Leqbzsn8vS6MUzEkFgYANjrILaou4pJXCL30Hp5jMKWxLSFWt-Qnd00Cj7dtxr_k5BViLtE5IcjxpouQnHMMb9EWvXPB-2k5FI9lqF53Saqk_EDCfal0f3K5NHp6B3m5zcGc9xadv2foak6xA"%}
  {%endif%}
  
  {%if product.tags contains "glow_list"%}
    {%assign action = "https://t.lt02.net/q/mkDzlGq-RqiH-9uMsmi9bIiPAu5DW7SRVz5pvktD71FyA2dK9aSrlVdbj"%}
    {%assign value = "lTSc35piyrtcSx50og0xK4fShQsPIhKxSjf33MoDp2loHH6bdbXdpL_h74HRHs7IcE76DyitewAizy_Btbeo-3ZlUJRNt_dW-MpmU6r2KOl6IcZoZry1j-WIQMPNuRE3TkDcmXSYUI5Uta-jhMpMoV0640DuzqawATo1ZQc7ci-qaTHJOaB81vWt458NyIL89-mpjkOscWVIc4TWVDrftA"%}
  {%endif%}
  
  {%if product.tags contains "gps_list"%}
    {%assign action = "https://t.lt02.net/q/ez-inhxqJUzq9W5sPcEvGLDkOBJAmE0DnZ1ZX8u6U7sV0O9K2kkS6-YUd"%}
    {%assign value = "6a6LCpxyvrws3RU76C7NfXR0mYLWawSH8kvVXfGgOK4KH6O8u7ZC7rLiwQMQXgGZZOAgNkQjeeT5DepjXOvNGQ"%}
  {%endif%}
  
  {%if product.tags contains "balance_list"%}
    {%assign action = "https://t.lt02.net/q/d3UeS2yEDQ_XMt2oXQxyJaNUtA6UWmdAWglUFT2Nl3FomK9KNVRj85FUU"%}
    {%assign value = "6hZNXcISD79ac2EmpmseQO26datYGEtTpUEo6J4f3iE4ZFodc6SeKnS4EGS96qwkmteKqcYVoDpVLgqc9FrtXg"%}
  {%endif%}
  
  {%if product.tags contains "goldc_list"%}
    {%assign action = "https://t.lt02.net/q/a87xg3jxV4XSPGstHA01GzIza6PGMguBWtgqe_PjlmKLByvKgFwrJMbsk"%}
    {%assign value = "Y2_Y3hC1TqfNZabaNIk1Ry8uPzRT_rXSquH_hW7ZVZCs1XctUgWAWUu-CiCz94E7UKfp9Qg_rh3FQ4OuQmfSPSu7-78jLvJWZMv3CRmI07TZlvAlaufqCp6KlwlvZXqJH9OuEv5l5MhhMp4CxZFqLB83D-rdkVPAYJyCILob4yg4YoNypxHBnfEba3tXYz_K"%}
  {%endif%}
  
  {%if product.tags contains "red_list"%}
    {%assign action = "https://t.lt02.net/q/ZkWAZk6Oz0nqoXa9yf9QtqNCrAhd5dly2W9gdfGj3VV1zwUK1Pjndg6Q2"%}
    {%assign value = "vbfEM-LrrwiCeXG29n5erw2aHy-kAJhZnwBYcmsy6xujY06dwp3JgYA58RpIafX351WCZ8h6Ne48V93QU5Ik4w"%}
  {%endif%}
  
  {%if product.tags contains "calm_list"%}
    {%assign action = "https://t.lt02.net/q/pmgv-bfDXXUgDvF4VViUZzqDT61U43FrXptJP400Y-Ik2sXKOBW3yLdBJ"%}
    {%assign value = "n8Km6gmW5ZmkYU-2Q1mxtfCKTssiC-oIqUhaJpwmlxXTM9c8HMEjQdHa1eZhZ3pnfOnBpEZxVtay0fwz6a8oe5whYsr1dyAPmh4akHh4fP_i1poFDB66Qmh83M-ktGk7NxaNA4oImORqMYzbVRsYjAwg6qo03H3pk-V5ZSWOdlM"%}
  {%endif%}

  {%if product.tags contains "s2s_list"%}
    {%assign action = "https://t.lt02.net/q/-XvM_XQD2sBVKTpMv3DvJqAgVZSTRfmM_tTkrGvql8NTl_uK3vIGu5Yxe"%}
    {%assign value = "4U4UIsHuDkHnT4xKjVQRa60gNgAkaGT9cnmReGw6FXsLUyaOa2oWYrUpDHLjveXZEu-kh5x9LUH0LJdQeLZCqg"%}
  {%endif%}

  {%if product.tags contains "chs_list"%}
    {%assign action = "https://t.lt02.net/q/F4Psr1BP-A-iP0OyhQ8XhDKlu5tgLeJPtcoiBDBKUOB7M2PKGhsbW99Yt"%}
    {%assign value = "74GsZxDLnP1KV4uRp9xzEUyugmNAlaO-LCU3p8IRqIJChdHzfytbqFY74PJ-crgQy_xCIUa3CmKMt9Aq9FGcQQ"%}
  {%endif%}

  {%if product.tags contains "summer_reset_list"%}
    {%assign action = "https://t.lt02.net/q/DsCdc6PR20GuP7tBiqW5nVp-0FAMCusrZ3OjKbNWT-Gmv1XKeryu28K79"%}
    {%assign value = "rz6C4_Y2g6Sz4EnN0V-LALDY2q51xNcdkrtdP0i_ETepOXuJxWnsjb3oDw8PHd6Km2J3s_k84nb1hV6ZQJT6Qg"%}
  {%endif%}

  {%if product.tags contains "green_red_list"%}
    {%assign action = "https://t.lt02.net/q/3s--cyFq8gj8q4PRLvha9KK-_djOO06CZqPx-EapTbBjci7KKSwxJHKEE"%}
    {%assign value = "kws70k3vGXx83XHLmzUD6mBnGY482gkZZ7LCWHvVOu-Xbea_ZJSLfqCXRVDW4cLx2wfqwlXcFJHnWSnRN5eAvQ"%}
  {%endif%}

  {%if product.tags contains "ryd_list"%}
    {%assign action = "https://t.lt02.net/q/w38kFKvPZbbQDMSETiiek1rlBYPJkXDCt0r110IdU3IyhAbK9cLO059bf"%}
    {%assign value = "rz6C4_Y2g6Sz4EnN0V-LALDY2q51xNcdkrtdP0i_ETepOXuJxWnsjb3oDw8PHd6Km2J3s_k84nb1hV6ZQJT6Qg"%}
  {%endif%}

  {%if product.tags contains "stress_detox_list"%}
    {%assign action = "https://t.lt02.net/q/a2BeBylfqnV-YzhYbC3X31fTQgjGbAqSTrRBB-o5EePoqyNKPT6WQkhnJ"%}
    {%assign value = "gjz7ciHq5z1PNIzaSAnMqgJy4iVW1Op2sljwBwJdoUBUUn30fRD_6sIg0-rtDh3FQjvtX0EV1kwTwz-0ImFLtA"%}
  {%endif%}

  {%if product.tags contains "calm_list"%}
    {%assign action = "https://t.lt02.net/q/C2Sp6JtRxxaSDtDj8k4aTB_v7PmcyeMXx9ivBvaqUKNR6JxKvMHRgWc-a"%}
    {%assign value = "-ZHJppt66sgmxdKTNwpbheuo-94weVjJxWpfK-YUHiME044LHIEA4P5Bm18vp8QXh33sDYzrMxwnArU85N01SdIZ3m5TARqSAHFoF6ayQBOIhRtx39FRb72jf44gvQhBNe7iky4q-lQ4Ch00U1u5KqJ86TvhgRO6PSjTmAEsbixS7yHw5_KzsZvctW8-CT-TrfhE3bg3_6I2r5MhYBp-Zg"%}
  {%endif%}

  {%if product.tags contains "creamer_list"%}
    {%assign action = "https://t.lt02.net/q/nkHFgf-P4qDpH36aO7YDCqbzF2xcX7CBWlaNAlEDl4z5X1cKs0VIkubvy"%}
    {%assign value = "XVt76yJHMCYRdQGtyT9z-qeyNlxKSE9YXxpUKC15AIHDtVzXaWWSsxAh1gnbiURfmfbQ_Q7xOiicJ6WAXx5laJ152PjLjBclyJImydgFppjlqJIoc802OHuJXnJypkrXcfqHPR0LZ35x7MWdjhbynPuKvto_khpZOfl3Xd_T7oTYHqLgCnA_WQLh0NqW7oISyKArIIO5Luoat9Hb_c2-Mw"%}
  {%endif%}

  {%if product.tags contains "apple_list"%}
    {%assign action = "https://t.lt02.net/q/FjT7ucCWrbtgWZyfwLfkO0rr41CLalNAZV0uBw0LfqEODpQKdTdZmzSw0"%}
    {%assign value = "1SWf8nH81WCmSfcf_InoRIvRrGt99_N7l8W5NLce9A8B846NSGO0n7a-L31KCobB67khRpfZ1CH79HDARGPCs2eJmLOACZeSlQjy2uceznZi_S1vQxnwk-Xkq1D8W3-0Bfx0BLYVu2j_Oy7_6OzzxCrFQPy9MYSh4wm3nH1SQttrBYXl8MaMQWYxmRVRU9pYbIC8qz1X5BYFYQvHvImvw-Mw9C27UHa_20oOJoP7v5I"%}
  {%endif%}


  {%if product.tags contains "immunity_list"%}
    {%assign action = "https://t.lt02.net/q/FQ07Du8hjJsybfAgKCRKNQFaCOgsjmb9O5MYnzr5KMdOr3ZKJ4uT02Lgl"%}
    {%assign value = "3QbeD-RKT9CpXzekGa41q84e-KQC6vSIRQI4wiz4uv5fLM_mZd6nM9KK_L89pDW0p8Hw3eLqjo_0a_cAgwcOM2_uY5TqINByUwXvFaE0MN11jfz6Hsk7uma-cp7ZC41siGJ1VZEoqrdz9xJL_s-xo9Dq4NTlrDbfYfNOtgyDzEUvoKFY4hd-TSdyZ0XRoWDswqiBjEQ5tlHOrKS1EVLLGXv0hGOgvzJvRYtD7mVDbVWxqp-QJyAZZ7DK89kMkKvI"%}
  {%endif%}

  {%if product.tags contains "Glow_OOS"%}
      <button id="btnNotif" style="display:none;"  class="button" value="Get Notified">Get Notified</button>
      <script>
        $('#btnNotif').css({display:"block"})
        $('#btnNotif').click(function(){
          window._klOnsite = window._klOnsite || []; window._klOnsite.push(['openForm', 'VaCt8z']);
        })
      </script>
  {%endif%}
    <form method="post" style="margin-bottom: 0;" action="{{action}}" accept-charset="UTF-8">
      <input type="hidden" name="crvs" value="{{value}}"/>
      <table class="oos_message" border="0" cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 0;" id="su_message">
        <tr>
          <td align="left" colspan="2" style="padding-bottom: 10px;"><strong>{{product.title}} is returning SOON...get first dibs.{%if product.tags contains "soon"%}has arrived{% comment %} {%else%}is back in stock.{% endcomment %}{%endif%}</strong></td>
        </tr>
      <tr>
        <td><input type="text" name="email" size="40" maxlength="100" value="" placeholder="Email Address" style="margin-bottom: 0;display: block;width: 100%;min-height: 40px;font: inherit;" />
        <!-- These next 3 fields are for system use, please do not remove -->
        <input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
        <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
        <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/></td>        
        <td style="padding-left: 10px;" class="desktop-only"><input type="submit" class="button" id="submit" value="Get Notified" style="margin-top: 5px;" /></td>
      </tr>
      <tr class="mobile-only">  
        <td><input type="submit" id="submit" class="button" value="Get Notified"/></td>
      </tr>
      </table>
      <table border="0" cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 0;" id="ty_message">
        <tr>
          <td align="left" style="padding-bottom: 10px; color:#26821f"><strong>thank you for subscribing. you will be notified when {{product.title}} is back in stock{%if product.tags contains "glow_list"%} soon!{%endif%}.</strong></td>
        </tr>
      </table>
    </form>

{%else%}


<div id="formNotifContainer" style="display:none;border: 1px solid #666666; padding: 20px; background: #eeeeee; margin-bottom: 20px;">
  <form method="post" style="margin-bottom: 0;" action="{{action}}" accept-charset="UTF-8">
    <input type="hidden" name="crvs" value="{{value}}"/>
    <table class="oos_message" border="0" cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 0;" id="su_message">
      <tr>
        <td align="left" colspan="2" style="padding-bottom: 10px;"><strong>{{product.title}} is returning SOON...get first dibs.{%if product.tags contains "soon"%}has arrived{% comment %} {%else%}is back in stock.{% endcomment %}{%endif%}</strong></td>
      </tr>
    <tr>
      <td><input type="text" name="email" size="40" maxlength="100" value="" placeholder="Email Address" style="margin-bottom: 0;display: block;width: 100%;min-height: 40px;font: inherit;" />
      <!-- These next 3 fields are for system use, please do not remove -->
      <input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/></td>        
      <td style="padding-left: 10px;" class="desktop-only"><input type="submit" class="button" id="submit" value="Get Notified" style="margin-top: 5px;" /></td>
    </tr>
    <tr class="mobile-only">  
      <td><input type="submit" id="submit" class="button" value="Get Notified"/></td>
    </tr>
    </table>
    <table border="0" cellspacing="0" cellpadding="5" width="100%" style="margin-bottom: 0;" id="ty_message">
      <tr>
        <td align="left" style="padding-bottom: 10px; color:#26821f"><strong>thank you for subscribing. you will be notified when {{product.title}} is back in stock{%if product.tags contains "glow_list"%} soon!{%endif%}.</strong></td>
      </tr>
    </table>
  </form>

</div>

{%assign variants_form= shop.metafields.global.variants_form.variants %}
{%for variant in variants_form%}
  {% if variant.variant_id contains product.selected_or_first_available_variant.id %}
  <script>
    $('#formNotifContainer').css({display:"block"})
    $('#btnNotif').css({display:"block"})
  </script>
  {%endif%}
  {%for vr in product.variants%}
    
     {%if variant.variant_id contains vr.id%}
     <input type="hidden" id="variant_form_{{vr.id}}" data_action="{{variant.action}}" data_value="{{variant.value}}" />
     {%endif%}
  {%endfor%}
{%endfor%}

{%endif%} 


<script>
  $(document).ready(function(){
    if(window.location.href.indexOf("?")>-1){
  	var ltkref = window.location.href.split("?")[1];
      if (ltkref.indexOf("ltkSubKey")>-1){
      	$("#su_message").hide();
        $("#ty_message").show();
      }
    }
  });
</script>
<style>#ty_message{display:block;}</style>


