<!-- 404-template.liquid -->
{%style%}
.error-content {
  color: #999;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
.error-content > .img__banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 620px;
}
{%endstyle%}
<div class="border-top" style="opacity: .3;"></div>
{%-render 'kt_breadcrumb', use_prd_nav: true -%}

<div class="error-content position-relative text-center w-100">
  {%- assign image_item = section.settings.img -%}
  {%-assign width = image_item.width | default: 1920.00 -%}{%-assign height = image_item.height | default: 600.00 | plus: 0.00-%}
  <div class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless section.settings.img %} title="1920x600 px"{% endunless %}></div>
    <div class="text-content text-center position-absolute" style="top: 12.5rem;left: 0;width: 100%;">
      <div class="container">
        <h1 class="error-title" style="font-size: 5rem;">{{'general.404.title'|t}}</h1>
        <p>{{'general.404.subtext'|t}}</p>
        <a href="{{section.settings.url| default: '/'}}" class="btn btn-outline-primary-2 btn-minwidth-lg btn-nws">{{'general.404.link'|t}}</a>
      </div>
    </div>
  </div>
</div>
{%schema%}
  {
    "name": "404 Template",
    "settings": [
      { 
        "type":"image_picker",
        "id":"img",
        "label":"Banner image"
      },
      { 
        "type":"url",
        "id":"url",
        "label":"Link to"
      }
    ]
  }
{%endschema%}