<!-- nws-page-banner / nws-science-banner -->
    <div class="nws-page-banner" style="{% if section.settings.section-color != blank %}background-color:{{ section.settings.section-color }};{% endif %} {% if section.settings.section-bg != blank %}background-image:url('{{ section.settings.section-bg | img_url: 'master' }}');{% endif %}" >
      {% render 'kt_breadcrumb' %}
      <div class="container" >
        <div class="nws-page-banner-content nws-same-section">
          {% if section.settings.heading != blank %}<h2 class="heading-nws" >{{ section.settings.heading }}</h2>{% endif %}
          {% if section.settings.sub-heading != blank %}<span class="sub-heading-nws" >{{ section.settings.sub-heading }}</span>{% endif %}
          {% if section.settings.btn-txt != blank %}<a class="btn-nws" href="{{ section.settings.btn-link }}" >{{ section.settings.btn-txt }}</a>{% endif %}
        </div>
      </div>
    </div>
<!-- end nws-page-banner / nws-science-banner  -->
{% schema %}
  {
    "name": "NWS - Page Banner",
    "settings": [
        {
          "type": "color",
          "id": "section-color",
          "label": "Section BG Color"
        },
        {
          "type": "image_picker",
          "id": "section-bg",
          "label": "Section BG Image"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Section Heading"
        },
        {
          "type": "textarea",
          "id": "sub-heading",
          "label": "Section Sub-Heading"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn-txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "Button Link"
        }
    ]
  }
{% endschema %}