<!-- nws-benefits-section -->
  {% if section.blocks != blank %}
    <div class="nws-benefits-section" style="{% if section.settings.section-color != blank %}background-color:{{ section.settings.section-color }};{% endif %} {% if section.settings.section-bg != blank %}background-image:url('{{ section.settings.section-bg | img_url: 'master' }}');{% endif %}" >
      <div class="container" >
        <div class="nws-benefits-section-content nws-same-section">
          {% if section.settings.heading != blank %}<h2 class="heading-nws" >{{ section.settings.heading }}</h2>{% endif %}
          <div class="nws-benefits-heading" >
            <div class="nws-benefits-tr nws-benefits-tr-big" ></div>
            <div class="nws-benefits-tr" >{% if section.settings.brand-txt != blank %}<h4>{{ section.settings.brand-txt }}</h4>{% endif %}</div>
            <div class="nws-benefits-tr" >{% if section.settings.brand-logo != blank %}<img src="{{ section.settings.brand-logo | img_url: '120x' }}" />{% endif %}</div>
          </div>
          <div class="nws-benefits-body" >
           {% for block in section.blocks %}
            <div class="nws-benefits-body-inner" >
              <div class="nws-benefits-tr nws-benefits-tr-big" >{{ block.settings.benefit-text }}</div>
              <div class="nws-benefits-tr" >
                {% if block.settings.bfit-other == true %}
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.1621" cy="16" r="16" fill="#268F01"/><path d="M22.1621 10L13.9516 22L10.1621 18.2105" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                {% else %}
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="16" fill="#EBEBEB"/><path d="M22 10L10 22M10 10L22 22" stroke="#BFBFBF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                {% endif %}
              </div>
              <div class="nws-benefits-tr" >
                {% if block.settings.bfit-our == true %}
                  <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.1621" cy="16" r="16" fill="#268F01"/><path d="M22.1621 10L13.9516 22L10.1621 18.2105" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                {% else %}
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="16" fill="#EBEBEB"/><path d="M22 10L10 22M10 10L22 22" stroke="#BFBFBF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                {% endif %}
              </div>
             </div>
            {% endfor %}
          </div>
          {% if section.settings.btn-txt != blank %}<a class="btn-nws" href="{{ section.settings.btn-link }}" >{{ section.settings.btn-txt }}</a>{% endif %}
        </div>
      </div>
    </div>
  {% endif %}
<!-- end nws-benefits-section -->
{% schema %}
  {
    "name": "NWS - Benefits Section",
    "settings": [
        {
          "type": "color",
          "id": "section-color",
          "label": "Section BG Color"
        },
        {
          "type": "image_picker",
          "id": "section-bg",
          "label": "Section BG Image"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Section Heading"
        },
        {
          "type": "text",
          "id": "brand-txt",
          "label": "Other Brands"
        },
        {
          "type": "image_picker",
          "id": "brand-logo",
          "label": "Our Brand"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn-txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "Button Link"
        }
    ],
    "blocks": [
    {
      "type": "benefit",
      "name": "Benefit Item",
      "settings": [
        {
          "type": "text",
          "id": "benefit-text",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "bfit-other",
          "label": "Other Brand"
        },
        {
          "type": "checkbox",
          "id": "bfit-our",
          "label": "Our Brand"
        }
      ]
    }
  ],
    "presets": [
        {
          "name": "NWS - Benefits Section",
          "category": "NWS Sections"
        }
    ]
  }
{% endschema %}