 <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>  

<style>

 #shopify-section-{{ section.id }}.spaced-section {
    margin-top: 2rem;
}

</style>


{% if section.blocks.size > 0 %}
  {{ 'paid-product-with-text.css' | asset_url | stylesheet_tag }}
  {{ 'paid-product-with-text-v2.css' | asset_url | stylesheet_tag }}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'new-lp.css' | asset_url | stylesheet_tag }}
  {%- for block in section.blocks -%}
    {% case block.type %}
      {%- when 'metaobject_block' -%}
        {% assign product = block.settings.product %}
        {% if section.settings.section_identifier == block.settings.metaobjectidentifier %}
          {%- liquid 
            assign identifier = block.settings.metaobjectidentifier | handleize 
            assign check_mb = false
            for object in shop.metaobjects.paid_product_with_text.values 
                assign metaobject = object.section_identifier.value | handleize
                if metaobject == identifier
                    assign check_mb = true
                    assign metaobj = object
                endif
            endfor 
            assign product_images = metaobj.image_gallery.value
            assign product_badges = metaobj.bottom_badges.value
          %}
          <div data-section-identifier="{{section.settings.section_identifier}}" data-block-identifier="{{block.settings.metaobjectidentifier}}" class="image-with-text {% if block.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} color-scheme-{{ block.settings.color_scheme }}">
            <div class="image-with-text__grid color-{{ block.settings.color_scheme }} grid grid--gapless grid--1-col grid--2-col-tablet gradient{% if block.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} {% if block.settings.layout_mobile == 'text_first' %} image-with-text__grid--reverse-mobile{% endif %}">
          {% if product != blank %}
                <div class="grid__item image_part">
                 <h4 class="image-with-text__subheading h3 small-bold" {{ block.shopify_attributes }}>
                      {{ block.settings.subheading | escape }}
                 </h4>
                 {% if block.settings.heading != blank %}
                      <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                        {{ block.settings.heading | escape }}
                      </h2>
                {% endif %}
                <div>
                  <div class="carousel-container">
                    <ul class="carousel productwithtext-carousel">
                      {% if product_images != blank %}
                        {%- for singleimage in product_images -%}
                          <li class="{% if media.media_type == "video" %}productwithtext-carousel-video-slide{%endif%} {%- if variant_images contains media.src -%}variant_slide size-{{ variant_images.size }} {%- endif -%} {%if media.alt contains "hide"%}imgtesthide{%endif%}">
                            <img
                              src="{{ singleimage | img_url: 'master' }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                              loading="lazy" 
                              width="576"
                              height="{{ 576 | divided_by: singleimage.aspect_ratio | ceil }}"
                              alt="{{ singleimage.alt | escape }}"
                            >
                          </li>
                        {% endfor %}
                      {% else %}
                        {% if block.settings.product_image != blank %}
                          <li class="{% if media.media_type == "video" %}productwithtext-carousel-video-slide{%endif%} {% if product.featured_image.src == media.src %}default_slide{%endif%} {%- if variant_images contains media.src -%}variant_slide size-{{ variant_images.size }} {%- endif -%} {%if media.alt contains "hide"%}imgtesthide{%endif%}"    {%- if variant_images contains media.src -%}{% for variant in product.variants %}
                            {% if variant.featured_image.src == media.src %} data-variant="{{ variant.id }}"{% endif %} 
                            {% endfor %}
                            {%- endif -%}
                            {%- if media.media_type =="image" -%}data-full="{{ media | img_url: 'master' }}"{%-endif-%} 
                            {%if product.has_only_default_variant%}
                              {% if product.featured_image.src == media.src %} data-default="{{ product.selected_or_first_available_variant.id }}" 
                            {%endif%}
                            {% endif %}>
                          
                            <img
                              src="{{ block.settings.product_image | img_url: 'master' }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                              loading="lazy" 
                              width="576"
                              height="{{ 576 | divided_by: block.settings.product_image.preview_image.aspect_ratio | ceil }}"
                              alt="{{ block.settings.product_image.preview_image.alt | escape }}"
                            >
                          </li>
                        {% endif %}
                        {%- assign variant_images = product.images -%}
                        {%- for media in product.media -%}
                          {%-unless media.preview_image.alt contains "quantity"-%}
                            <li class="{% if media.media_type == "video" %}productwithtext-carousel-video-slide{%endif%} {% if product.featured_image.src == media.src %}default_slide{%endif%} {%- if variant_images contains media.src -%}variant_slide size-{{ variant_images.size }} {%- endif -%} {%if media.alt contains "hide"%}imgtesthide{%endif%}"    {%- if variant_images contains media.src -%}{% for variant in product.variants %}
                            {% if variant.featured_image.src == media.src %} data-variant="{{ variant.id }}" 
                            {% endif %} 
                            {% endfor %}
                            {%- endif -%}
                            {%- if media.media_type =="image" -%}data-full="{{ media | img_url: 'master' }}"{%-endif-%} 
                            {%if product.has_only_default_variant%}
                            {% if product.featured_image.src == media.src %} data-default="{{ product.selected_or_first_available_variant.id }}" 
                            {%endif%}
                            {% endif %}>           
                              {% if media.media_type == "image" %}
                              <img
                              src="{{ media | img_url: 'master' }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                              loading="lazy" 
                              width="576"
                              height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                              alt="{{ media.preview_image.alt | escape }}"
                            >
                              {% elsif media.media_type == "video" %}
                              <div class="productwithtext-carousel-slide-video-wrap">
                                {{ media | video_tag: controls: false, preload: false, muted: true, loop: true }}
                              </div>
                              {% endif %}
                            </li>
                          {%-endunless-%}
                        {%- endfor -%}
                      {% endif %}
                    </ul>
                    <div class="carousel-nav carousel-nav--vertical">
                      <span class="carousel-btn prev-img nav-btn"><i class="fa fa-1-5x fa-chevron-up" aria-hidden="true"></i></span>          
                      <ul class="carousel-nav-list">
                        {% assign navMediaCount = -2 %} 
                        {% if product_images != blank %}
                          {%- for singleimage in product_images -%}
                            <li class="carousel-nav-item {% if forloop.index == 1 %}active{% endif %} {%if singleimage.alt contains "hide"%}imgtesthide{%endif%}" data-slide="{% increment navMediaCount %}">
                                <img
                                src="{{ singleimage | img_url: 'master' }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                                loading="lazy" 
                                width="576"
                                height="{{ 576 | divided_by: singleimage.aspect_ratio | ceil }}"
                                alt="{{ singleimage.alt | escape }}"
                              >
                            </li>
                          {% endfor %}
                        {%-else-%}
                          {%-unless block.settings.product_image.preview_image.alt contains "quantity"-%}
                            {% if block.settings.product_image != blank %}    
                              <li class="carousel-nav-item {% if forloop.index == 1 %}active{% endif %} {%if block.settings.product_image.alt contains "hide"%}imgtesthide{%endif%}" data-slide="{% increment navMediaCount %}">
                                  <img
                                  src="{{ block.settings.product_image | img_url: 'master' }}"
                                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                                  loading="lazy" 
                                  width="576"
                                  height="{{ 576 | divided_by: block.settings.product_image.preview_image.aspect_ratio | ceil }}"
                                  alt="{{ block.settings.product_image.preview_image.alt | escape }}"
                                >
                              </li>
                            {% endif %}  
                          {%-endunless-%}                             
                          {%- for media in product.media -%}              
                          {%-unless media.preview_image.alt contains "quantity"-%}
                            <li class="carousel-nav-item {%if media.alt contains "hide"%}imgtesthide{%endif%}" data-slide="{% increment navMediaCount %}">
                              <img
                              src="{{ media | img_url: 'master' }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                              loading="lazy" 
                              width="576"
                              height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
                              alt="{{ media.preview_image.alt | escape }}"
                            >
                            </li>
                            {%-endunless-%}
                          {%- endfor -%}
                        {% endif %}
                      </ul>
                      <span class="carousel-btn next-img nav-btn"><i class="fa fa-1-5x fa-chevron-down" aria-hidden="true"></i></span>
                    </div>
                    {% if product_badges != blank %}
                      <div class="bottom-badges">
                      {% if metaobj.bottom_badges_title.value != blank %}
                      <span class="bottom-badge-title">{{ metaobj.bottom_badges_title.value }}</span>
                      {% endif %}
                      <ul class="badges">
                        {%- for badge in product_badges -%}
                          <li class="badge-item">
                            <img
                            src="{{ badge | img_url: '150x' }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                            loading="lazy" 
                            width="150"
                            height="{{ 150 | divided_by: badge.aspect_ratio | ceil }}"
                            alt="{{ badge.alt | escape }}"
                          >
                        </li>
                        {% endfor %}
                      </ul>   
                    </div>
                    {% endif %}                 
                    <div style="clear:both"></div>
                  </div>
                  </div>
                  <div class="as-seen">
                    <span>{{ section.settings.as_seen_title }}</span>
                    <img src="{{ section.settings.as_seen_image | img_url:'master' }}" width="" height="">
                  </div>
                </div>

              {% endif %}
              
   
              
              {% if section.blocks.size > 0 %}
                <div class="grid__item text_part">
                  <div class="image-with-text__content image-with-text__content--{{ block.height }}">
                    {% unless block.settings.subheading == blank %}
                    <h4 class="image-with-text__subheading h3 small-bold" {{ block.shopify_attributes }}>
                      {{ block.settings.subheading | escape }}
                    </h4>
                    {% endunless %}
                    {% if block.settings.heading != blank %}
                      <h2 class="image-with-text__heading h1" {{ block.shopify_attributes }}>
                        {{ block.settings.heading | escape }}
                      </h2>
                    {% endif %}
                    
                    {% if block.settings.text != blank %}
                      <div class="image-with-text__text rte desk" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                    {% endif %}

                    
                    {%- if block.settings.button_label != blank -%}
                      <div class="image-with-text_Btn_container">
                        <a {% if block.settings.button_link != blank %}href="{{ block.settings.button_link }}"{% endif %} class="button image-with-text_Btn" {% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                          {{ block.settings.button_label | escape }}
                        </a>
                      </div>
                    {%- endif -%} 

                  <div class="as-seen">
                    <span>{{ section.settings.as_seen_title }}</span>
                    <img src="{{ section.settings.as_seen_image | img_url:'master' }}" width="" height="">
                  </div>

                    
                    {% if block.settings.text != blank %}
                      <div class="image-with-text__text rte mob" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                    {% endif %}

                    {% if block.settings.comment != blank %}
                      <div class="single-review-container">
                        {% if block.settings.image != blank %}
                          <div class="review-profile-pic"><img src="{{ block.settings.image | img_url: 'master' }}" height="100%" width="100%" /></div>
                        {% endif %}
                        <div class="review-content">
                          <div class="review-comment">{{ block.settings.comment }}</div>
                          {% if block.settings.name != blank %}
                            <div class="review-name">{{ block.settings.name }}</div>
                            {% endif %}
                        </div>
                      </div>
                    {%- endif -%}   
                    
                    {% if product != blank and metaobj.stars.value != blank %}
                      <div class="product-star-rating">
                        <div class="product-star-rating-container">
                          {% if metaobj.stars.value != blank %}
                            <div class="product-star-rating-icon">
                              {% render 'star-rating-icons', stars: metaobj.stars.value %}
                            </div>
                          {% endif %}
                          {% if metaobj.review_count_text.value != blank %}
                            <div class="product-rating-count-text">
                              {{ metaobj.review_count_text.value }}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    {%- endif -%}  



                  </div>
                </div>
              {% endif %}
            </div> 
          </div>
        {% endif %}
    {%- endcase -%}
  {%- endfor -%}



  <script type="text/javascript">
 
    var scrollToElement = function(element =5) {
    var $innerListItem = $(element),
        $parentDiv = $(element).parent();

  $parentDiv.scrollTop($parentDiv.scrollTop() + $innerListItem.position().top - $parentDiv.height() + $innerListItem.height());

  },
      setNavHeight = function() {
        setTimeout(function() {
        $('.carousel-nav-list').height($('.productwithtext-carousel').find('.slick-slide[data-slick-index=0] img').height() - $('.carousel-btn').height() * 2);

        }, 250);
      };


 $("#shopify-section-{{ section.id }} .productwithtext-carousel").slick({
    arrows: false,
    fade: false,
    autoplay: false,
    adaptiveHeight: true,
    horizontal: true,
    horizontalSwiping: true,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          dots: true,
          prevArrow: '<i class="slick-prev fa fa-chevron-left" aria-hidden="true"></i>',
          nextArrow: '<i class="slick-next fa fa-chevron-right" aria-hidden="true"></i>'
        }
      }
    ]
  }); 


  $('#shopify-section-{{ section.id }} .carousel-nav-list').slick({
    slidesToShow: 5,
    asNavFor: '#shopify-section-{{ section.id }} .productwithtext-carousel',
    vertical: true,
    focusOnSelect: true,
    autoplay: false,
    centerPadding: '40%',
    arrows:true,
    adaptiveHeight: true,
    prevArrow: $('#shopify-section-{{ section.id }}  .carousel-btn.prev-img'),
    nextArrow: $('#shopify-section-{{ section.id }}  .carousel-btn.next-img')
    });
  
  


  window.onresize = function() {
    setNavHeight();
  };

  $(document).ready(function() {
    setNavHeight();
  });

  $("#shopify-section-{{ section.id }} .carousel").on('afterChange', function(event, slick, currentSlide){
    if($("#shopify-section-{{ section.id }} .productwithtext-carousel .slick-active").hasClass('productwithtext-carousel-video-slide')){
      $("#shopify-section-{{ section.id }} .productwithtext-carousel .slick-active").find('video').get(0).muted = true;
      $("#shopify-section-{{ section.id }} .productwithtext-carousel .slick-active").find('video').get(0).autoplay = true;
      $("#shopify-section-{{ section.id }} .productwithtext-carousel .slick-active").find('video').get(0).play();
    } else {
      $(".productwithtext-carousel video").each(function(){
        $(this).get(0).pause();
      });
    }
  });

  $("#shopify-section-{{ section.id }} .carousel").on("beforeChange", function(event, slick, currentSlide, nextSlide) {
    $('#shopify-section-{{ section.id }} .carousel-nav-item').removeClass('active');
    $('#shopify-section-{{ section.id }} .carousel-nav-item[data-slide="' + nextSlide +  '"]').addClass('active');
    scrollToElement($('#shopify-section-{{ section.id }} .carousel-nav-item[data-slide="' + nextSlide +  '"]')[0]);
  });

  
  $(document).on('click', '#shopify-section-{{ section.id }} .prev-img', function() {
    $("#shopify-section-{{ section.id }} .productwithtext-carousel").slick("slickPrev");
  });

  $(document).on('click', '#shopify-section-{{ section.id }} .next-img', function() {
    $("#shopify-section-{{ section.id }} .productwithtext-carousel").slick("slickNext");
  });
                    

  $(document).ready(function() {
    if($('#shopify-section-{{ section.id }} .slick-slide:has(img[alt="supplement-facts"])').length){
      $('#shopify-section-{{ section.id }} .supplement_facts_link_wrap').show();
    }
  });

  $(document).on('click', '#shopify-section-{{ section.id }} .supplement_facts_link_wrap a', function(e) {
    e.preventDefault();
    var supplementFactsIndex = parseInt($('#shopify-section-{{ section.id }} .slick-slide:has(img[alt="supplement-facts"])').data('slick-index'));
    $("#shopify-section-{{ section.id }} .productwithtext-carousel").slick("slickGoTo", supplementFactsIndex);
  });
                      
  </script>
{% endif %}
{% schema %}
{
  "name": "Product with Text",
  "class": "spaced-section spaced-section--full-width custom-img-with-txt product-with-text",
  "settings": [
    {
      "type": "text",
      "id": "section_identifier",
      "label": "Section Identifier"
    },
    {
      "type": "checkbox",
      "id": "hide_description_mobile",
      "label": "Hide Description on Mobile",
      "default": false
    },
    {
      "type": "text",
      "id": "as_seen_title",
      "label": "As seen title"
    },
    {
      "type": "image_picker",
      "id": "as_seen_image",
      "label": "Upload Image"
    }
  ],
  "blocks": [
    {
      "type": "metaobject_block",
      "name": "(Paid) Product With Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "metaobjectidentifier",
          "label": "Section Metaobject Identifier"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }, 
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Main Image"
        },   
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Image First"
        },
        {
          "type": "select",
          "id": "layout_mobile",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Mobile layout"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading (Above)",
          "info": "Add an optional subheading that displays above the main heading."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Profile Photo"
        },
        {
          "type": "richtext",
          "id": "comment",
          "label": "Comment"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Reviewer Name"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "info": "Leave the label blank to hide the button."
        },        
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product with Text",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
            
