<style>
  body.template-password{
    {% if section.settings.bg_image %}
      background-image:url('{{ section.settings.bg_image | img_url: 'master' }}');
    {% endif %}
  }
 @media screen and (max-width:725px){
   body.template-password{
    {% if section.settings.bg_image_mob %}
      background-image:url('{{ section.settings.bg_image_mob | img_url: 'master' }}');
    {% endif %}
  }
 }
</style>
<div class="nws-coming-soon" >
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 nws-logo-pass" >
        <div class="nws-logo-content">
          <img class="logo-cr-nws" src="{{ section.settings.logo | img_url: 'master' }}" />
          <p>{{ section.settings.logo_header }}</p>
        </div>
      </div>
      <div class="col-6 col-md-6 nws-txt-pass" >
        <div class="nws-txt-content">
          <h3>{{ section.settings.sec_header }}</h3>
          <div class="nws-txt-m" >
            {{ section.settings.sec_desc }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 nws-pdp-pass" >
        <div class="nws-pdp-content">
          <img class="pdp-cr-nws" src="{{ section.settings.image_pdp | img_url: 'master' }}" />
        </div>
      </div>

      <div class="col-12 col-md-12 nws-quiz-pass" >
        <div class="nws-quiz-content">
          <h3>{{ section.settings.sec_header_quiz }}</h3>
          <p>{{ section.settings.sec_desc_quiz }}</p>
          <a target="_blank" href="{{ section.settings.url_quiz }}" >{{ section.settings.txt_quiz }}</a>
        </div>
      </div>
    
      <div class="col-12 col-md-12 nws-form-pass">
        <div class="nws-soon-content">
          <div class="nws-form-content-wrapper">
            {% comment %}
              {% if section.settings.logo %}
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name | escape }}{% endcapture %}
                <img class="soon-logo mx-auto lazyload" src="{{ section.settings.logo | img_url: '300x300' }}" srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ logo_alt | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;">
              {% else %}
                <h1 class="site-header__logo-link"><span class="logo">{{ shop.name }}</span></h1>
              {% endif %}
              <h1 class="soon-title">{{ section.settings.header }}</h1>
    
              <div class="coming-countdown countdown-separator">
                <div class="kt_countdown style01 clearfix mb-3" data-time="{{section.settings.countdown}}" data-time-zone="{{'now' | date:'%Z'}}"></div>
              </div>
              <hr class="mt-3 mb-3">
              {% unless shop.password_message == blank %}
                <p>{{ shop.password_message }}</p>
              {% endunless %}
               <p>{{ section.settings.newsletter_desc }}</p>
            {% endcomment %}

            <h3>{{ section.settings.header }}</h3>
            <p>{{ section.settings.newsletter_desc1 }}</p>

            <div class="nws-klaviyo-form">
              <div class="klaviyo-form-S4QKtg"></div>
            </div>
  
            {% if section.settings.newsletter_enable %}
              {% form 'customer', id: 'ContactPassword' %}
                {%- assign formId = 'PasswordNewsletterForm' -%}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="{{ formId }}-email" class="d-none">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                <div class="page-width">
                  {% render 'form-status', form: form, form_id: formId %}
                </div>
                {% unless form.posted_successfully? %}
                <span id="{{ formId }}-email-error" class="input-error-message d-none">
                  <i class="fkt-exclamation-circle"></i>
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                </span>
                <div class="input-group">
                  <div class="row" >
                    <div class="col-12 col-md-12" >
                      <input type="text" name="contact[first_name]" id="{{ formId }}-first_name" placeholder="First Name" class="form-control bg-transparent{%if form.errors contains 'first_name'%} input--error{%endif%}" {%- if form.errors contains 'first_name' -%} aria-invalid="true" aria-describedby="{{ formId }}-first_name-error" {%- endif -%}>
                    </div>
                   <div class="col-12 col-md-12" >
                      <input type="email" name="contact[email]" id="{{ formId }}-email" placeholder="{{ section.settings.newsletter_placeholder | escape }}" class="form-control bg-transparent{%if form.errors contains 'email'%} input--error{%endif%}" {%- if form.errors contains 'email' -%} aria-invalid="true" aria-describedby="{{ formId }}-email-error" {%- endif -%}>
                    </div>
                    <div class="col-12 col-md-12" >
                      <input type="tel" name="contact[phone]" id="{{ formId }}-phone" placeholder="{{ section.settings.newsletter_phone | escape }}" class="form-control bg-transparent{%if form.errors contains 'phone'%} input--error{%endif%}" {%- if form.errors contains 'phone' -%} aria-invalid="true" aria-describedby="{{ formId }}-phone-error" {%- endif -%}>
                    </div>
                    <div class="col-12 col-md-12" >
                      <div class="nws-creatine-radio" >
                        <label class="nws-currently-creatine" >Do you currently take creatine?</label>
                        <div class="nws-radio-cls" >
                          <input type="radio" name="contact[currently-creatine]" value="yes" checked="checked" class="form-control-radio" >
                          <label>Yes</label>
                        </div>
                        <div class="nws-radio-cls" >
                          <input type="radio" name="contact[currently-creatine]" value="no"  class="form-control-radio" >
                          <label>No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-6" >
                      <select class="form-control" name="contact[gender]" >
                        <option>– Select Gender –</option>
                        <option value="male" >Male</option>
                        <option value="female" >Female</option>
                      </select>
                      <input type="hidden" name="contact[note]" value="" />
                   </div>
                   <div class="col-12 col-md-12" >
                     <div class="input-group-append">
                        <button class="btn btn-outline-primary-2" type="submit">
                          <span>{{ section.settings.newsletter_button_text}}</span>
                        </button>
                      </div>
                   </div>
                  </div>
                </div>
                {% endunless %}
              {% endform %}
            {% endif %}
            {% if section.settings.show_share_buttons %}
              <div class="socials_ style-01">
                {% render 'kt_socials', social_grid: 'style-01' %}
              </div>
            {% endif %}
            <div class="coppyright"> 
              {%-if section.settings.copyright != blank-%}
              <p class="mt-2 mb-2">{{section.settings.copyright|html}}</p>
              {%-else-%}
              <p class="mt-2 mb-2">
                <span>&copy; {{ 'now' | date: "%Y" }} Create. All Rights Reserved.</span>
              </p>
              {%-endif-%}
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
  {%- assign image_item = section.settings.bg_image -%}
  <div class="img__banner_template soon-bg bg-image d-none d-lg-block lazyload" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto"></div>
  
  <div class="bg-image">
    <a href="#" onclick="$('#LoginPasswordModal').modal()" class="js-modal-open-login-modal btn btn-primary btn-rounded" aria-haspopup="dialog">
      <span>{{ 'general.password_page.password_link' | t }}</span><i class="fkt-long-arrow-right"></i>
    </a>
  </div>
{% endcomment %}

{% schema %}
{
  "name": "Page settings",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mob",
      "label": "Background image Mobile"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_header",
      "label": "Logo Heading"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "sec_header",
      "label": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "sec_desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image_pdp",
      "label": "PDP Image"
    },
    {
      "type": "header",
      "content": "Quiz Content"
    },
    {
      "type": "text",
      "id": "sec_header_quiz",
      "label": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "sec_desc_quiz",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "txt_quiz",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "url_quiz",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "textarea",
      "id": "newsletter_desc1",
      "label": "Newsletter description"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email Address"
    },
    {
      "type": "text",
      "id": "newsletter_phone",
      "label": "Phone placeholder text",
      "default": "Phone Number"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "SUBSCRIBE"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "textarea",
      "id": "copyright",
      "label": "== Copyright customize"
    }
  ]
}
{% endschema %}
